body {
    background: slategray;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    width: 99vw;
    height: 99.5vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.head {
    background: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;
}

.category {
    opacity: 0.3;
    text-align: left;
}

.question {
    padding: 10px;
}